/* ::: Utilidades generales ::: */

    /* ::: Importaciones ::: */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    /* ::: Responsividad ::: */

    /* ::: Detalles ::: */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

    /* ::: Colores ::: */

        :root {
            --Arrowhead_white:  #F9EAEB;
            --Spanish_pink:     #F7BFBE;
            --Enticing_red:     #B74EAF;
            --Kabuki:           #A73A3E;
            --Olive_brown:      #645403;
            --Deep_seaweed:     #37412A;
            --White:            #FFFFFF;
            --Hei_se_black:     #000000;
        }

    /* ::: 'nav' ::: */

        nav {
            background-color: var(--Spanish_pink);
        }

        /* ::: Clase: 'container-nav' ::: */

            .container-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
            }

        /* ::: Clase: 'container-menu' ::: */

            .container-menu {
                display: flex;
                gap: 2rem;
            }

            .container-menu li {
                list-style: none;
            }

            .container-menu li a {
                text-decoration: none;
                font-size: 1.3rem;
                color: var(--Hei_se_black);
                font-weight: 600;
                position: relative;
            }

            .container-menu li a::after {
                content: '';
                width: 1.5rem;
                height: 1px;
                background-color: var(--White);
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translate(-50%, 50%);
                opacity: 0;
                transition: all 0.3s ease;
            }

            .container-menu li a:hover::after {
                opacity: 1;
            }

            .container-menu li a:hover {
                color: var(--White);
            }

        /* ::: Clase: 'container-search' ::: */

            .container-search {
                position: relative;
                display: flex;
                align-items: center;
                border: 2px solid var(--White);
                border-radius: 2rem;
                background-color: var(--White);
                height: 4.4rem;
                overflow: hidden;
            }

            .container-search input {
                outline: none;
                font-family: inherit;
                border: none;
                width: 25rem;
                font-size: 1.4rem;
                padding: 0 2rem;
                color: var(--Deep_seaweed);
                cursor: pointer;
            }

            .container-search input::-webkit-search-cancel-button {
                appearance: none;
            }

            .container-search .btn-search {
                border: none;
                background-color: var(--Kabuki);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 1rem;
            }

            .container-search .btn-search i {
                font-size: 2rem;
                color: var(--White);
            }

        /* ::: Clase: 'container-icons' ::: */

            .container-icons {
                display: flex;
                gap: 12px;
                cursor: pointer;
            }

            .container-icons i {
                background-color: var(--Kabuki);
                color: var(--White);
                font-size: 15px;
                padding: 8px;
                border-radius: 8px;
            }

    /* ::: 'footer' ::: */

        footer {
            background-color: var(--Kabuki);
        }

        /* ::: Clase: 'container-footer' ::: */

            .container-footer {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                padding: 3rem;
            }

        /* ::: Clase: 'container-inf' ::: */

            .container-inf {
                display: grid;
                grid-template-columns: repeat(3, 1fr) 30rem;
                gap: 3rem;
                justify-items: center;
            }

        /* ::: Clase: 'container-information' ::: */

            .container-information {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .container-information p {
                font-weight: 600;
	            font-size: 1.6rem;
            }

            .container-information ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .container-information ul li {
                list-style: none;
                color: var(--White);
                font-size: 1.4rem;
                font-weight: 300;
            }

            .container-information ul li a {
                text-decoration: none;
                color: var(--White);
                font-weight: 300;
            }

            .container-information ul li a:hover {
                color: var(--Hei_se_black);
            }

        /* ::: Clase: 'container-social' ::: */

            .container-social {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .container-social p {
                font-weight: 600;
	            font-size: 1.6rem;
            }

            .container-social ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .container-social ul li {
                list-style: none;
                color: var(--White);
                font-size: 1.4rem;
                font-weight: 300;
            }

            .container-social .container-social-icons {
                display: flex;
	            gap: 1.5rem;
            }

            .container-social .container-social-icons span {
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .container-social .container-social-icons span i {
                color: var(--White);
	            font-size: 1.2rem;
            }

            .container-social .container-social-icons .facebook {
                background-color: #3b5998;
            }

            .container-social .container-social-icons .x {
                background-color: #000000;
            }

            .container-social .container-social-icons .youtube {
                background-color: #c4302b;
            }

            .container-social .container-social-icons .pinterest {
                background-color: #c8232c;
            }

            .container-social .container-social-icons .instagram {
                background: linear-gradient(
                #405de6,
                #833ab4,
                #c13584,
                #e1306c,
                #fd1d1d,
                #f56040,
                #fcaf45
	            );
            }

        /* ::: Clase: 'container-copyright' ::: */

            .container-copyright {
                display: flex;
                justify-content: space-between;
                padding-top: 2rem;
                border-top: 1px solid #d2b495;
            }

            .container-copyright p {
                font-weight: 400;
	            font-size: 1.6rem;
            }

/* ::: Vista: 'index' ::: */

    /* ::: 'header' ::: */

        header {
            background-color: var(--Arrowhead_white);
            align-items: center;
            text-align: center;
            padding: 1rem;
            gap: 0.5rem;
        }

        header i {
            font-size: 3rem;
            color: var(--Hei_se_black);
        }

        header h1 {
            color: var(--Hei_se_black);
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: -1px;
        }

/* ::: Vista: 'login' ::: */

/* ::: Vista: 'cart' ::: */