{% extends 'app/base.html' %} {% load static %}
{% block css %} 

<link rel="stylesheet" href="{% static 'app/css/productos.css' %}" />
{% endblock %} 

{% block contenedor %}
{% include 'app/mensaje.html' %}
<br />
{% load humanize %}
<section class="contenedor">
  <div class="contenedor-items">
    {% for p in productos %}
    <div class="item">
      <h6 class="titulo-item">{{ p.titulo }}</h6>
      {% if p.portada %}
      <img src="{{ p.portada.url }}" alt="" class="img-item" />
      {% endif %}
      <p class="precio-item">${{ p.precio|intcomma }}</p>
      <form method="post" action="{% url 'agregar_al_carrito' p.id %}">
        {% csrf_token %}
        <button type="submit" class="boton-item">Agregar al Carrito</button>
      </form>
    </div>
    {% endfor %}
  </div>
</section>
<br/>
{% endblock %}