/* ::: Utilidades generales ::: */

    /* ::: Importaciones ::: */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    /* ::: Detalles ::: */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;
        }

    /* ::: Colores ::: */

        :root {
            --Arrowhead_white:  #F9EAEB;
            --Spanish_pink:     #F7BFBE;
            --Enticing_red:     #B74EAF;
            --Kabuki:           #A73A3E;
            --Olive_brown:      #645403;
            --Deep_seaweed:     #37412A;
            --White:            #FFFFFF;
            --Hei_se_black:     #000000;
        }

    /* ::: 'nav' ::: */

        nav {
            background-color: var(--Spanish_pink);
            position: sticky;
            top: 0;
            display: flex;
            padding: 0.5rem 7.5rem; /* top-bottom: 0.5rem & left-right: 7.5rem*/
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        /* ::: 'container-logo' ::: */

            .container-logo {
                display: flex;
                align-items: center;
            }

            .container-logo a i {
                padding-right: 2px;
            }

            .container-logo h3 {
                padding-left: 2px;
                font-size: 1.2rem;
            }

        /* ::: 'container-category' ::: */

            .container-category {
                display: flex;
                gap: 20px;
            }

            .container-category li {
                list-style: none;
            }

            .container-category li a {
                text-decoration: none;
                font-weight: bold;
            }

        /* ::: 'container-search' ::: */

        /* ::: 'container-link' ::: */

    /* ::: 'footer' ::: */

        footer {
            background-color: var(--Spanish_pink);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            grid-template-columns: repeat(3, 1fr) 30rem;
        }

        /* ::: 'container-column' ::: */

            .container-column {
                display: grid;  
                grid-template-columns: repeat(3, 1fr) 30rem;
                gap: 3rem;
                justify-content: center;
            }

        /* ::: 'container-info' % 'container-social' ::: */

            .container-info,
            .container-social {
                display: flex;
                flex-direction: column;
            }

            .container-info h5,
            .container-social h5 {
                font-size: 1.2rem;
            }

            .container-info ul,
            .container-social ul {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
            }

            .container-info ul li,
            .container-social ul li {
                list-style: none;
                color: var(--Hei_se_black);
                font-size: 0.8rem;
            }

            .container-info ul li a,
            .container-social ul li a {
                text-decoration: none;
                color: var(--Hei_se_black);
            }

            .container-info ul li a:hover,
            .container-social ul li a:hover {
                color: var(--Arrowhead_white);
            }

        /* ::: 'container-copyright' ::: */

/* ::: Vista: 'index' ::: */

    /* ::: 'header' ::: */

        header {
            background-color: var(--Kabuki);
            text-align: center;
            padding: 0.2rem;
        }

        header h1 {
            font-size: 2.8rem;
            margin: 0.5rem;
        }

    /* ::: 'main-index' ::: */

/* ::: Vista: 'account' ::: */

    /* ::: 'main-account' ::: */

/* ::: Vista: 'cart' ::: */

/* ::: Responsividad ::: */

        /* ::: ¡Examen! ::: */