/* ::: Utilidades generales ::: */

    /* ::: Importaciones ::: */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    /* ::: Detalles ::: */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;
        }

    /* ::: Colores ::: */

        :root {
            --Arrowhead_white:  #F9EAEB;
            --Spanish_pink:     #F7BFBE;
            --Enticing_red:     #B74EAF;
            --Kabuki:           #A73A3E;
            --Olive_brown:      #645403;
            --Deep_seaweed:     #37412A;
            --White:            #FFFFFF;
            --Hei_se_black:     #000000;

            --one:      #CC8B86;
            --two:      #F9EAE1;
            --three:    #7D4F50;
            --four:     #D1BE9C;
            --five:     #AA998F;
            --black:    #000000;
            --white:    #FFFFFF;
        }

   /* ::: 'nav' ::: */

        nav {
            background-color: var(--one);
            position: sticky;
            top: 0;
            display: flex;
            padding: 0.5rem 7.5rem; /* top-bottom: 0.5rem & left-right: 7.5rem */
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            z-index: 1000; /* Asegura que el navbar esté siempre encima */
        }

        /* ::: 'container-logo' ::: */
        .container-logo {
            display: flex;
            align-items: center;
        }

        .container-logo a i {
            padding-right: 2px;
            color: var(--black);
        }

        .container-logo h3 {
            padding-left: 2px;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0; /* Asegura que no haya margen adicional */
        }

        /* ::: 'container-category' ::: */
        .container-category {
            display: flex;
            gap: 20px;
            align-items: center; /* Asegura que todos los elementos estén centrados verticalmente */
            margin: 0; /* Asegura que no haya margen adicional */
            padding: 0; /* Asegura que no haya padding adicional */
        }

        .container-category li {
            list-style: none;
            margin: 0; /* Asegura que no haya margen adicional */
            padding: 0; /* Asegura que no haya padding adicional */
        }

        .container-category li a {
            text-decoration: none;
            font-weight: bold;
            color: var(--black);
            display: flex;
            align-items: center; /* Asegura que el texto dentro del enlace esté centrado verticalmente */
        }

        .container-category li a:hover {
            color: var(--white);
        }

        /* ::: 'container-link' ::: */
        .container-link {
            display: flex;
            gap: 5px;
            align-items: center; /* Asegura que todos los elementos estén centrados verticalmente */
        }

        .container-link h5 {
            font-weight: bold;
            margin: 0; /* Asegura que no haya margen adicional */
        }

        .container-link form button {
            border-radius: 10px;
            padding: 4px 10px;
            border: none;
            background-color: var(--two);
            cursor: pointer;
            font-weight: bold;
        }

        .container-link form button:hover {
            color: var(--white);
        }

        .container-link a i {
            border-radius: 10px;
            padding: 5px;
            border: none;
            background-color: var(--two);
            cursor: pointer;
            font-weight: bold;
            color: var(--black);
        }

        .container-link a i:hover {
            color: var(--white);
        }


    /* ::: 'footer' ::: */
    footer {
        background-color: var(--three);
        color: #fff;
        padding: 20px 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .footer-column {
        flex: 1 1 300px;
        margin: 10px;
    }
    
    .footer-info, .footer-social, .footer-copyright {
        padding: 10px;
    }
    
    h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    ul li {
        margin-bottom: 5px;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    a:hover {
        color: var(--Arrowhead_white);
    }
    
    /* Estilos específicos para iconos de redes sociales */
    .footer-social ul li a {
        display: inline-block;
        padding: 5px;
        border-radius: 10px;
        background-color: #fff;
    }
    
    .footer-social ul li a:hover {
        border-color: #333; /* Color del borde al pasar el mouse */
    }
    
    .facebook {
        color: #3b5998; /* Color de Facebook */
    }
    
    .twitter {
        color: #000000; /* Color de Twitter */
    }
    
    .instagram {
        color: #e1306c; /* Color de Instagram */
    }
    
    /* Estilos para el ícono de carga */
    .fa-brands {
        font-size: 20px;
        margin-right: 5px;
    }


        /* ::: 'container-copyright' ::: */

/* ::: Vista: 'index' ::: */

    /* ::: 'header' ::: */

        header {
            background-color: var(--two);
            text-align: center;
            padding: 0.2rem;
        }

        header h1 {
            font-size: 2.8rem;
            margin: 0.5rem;
            font-weight: bold;
        }

/* ::: Sticky Footer ::: */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main.content {
    flex: 1;
}